doctype html
html(lang='en')
  head
    title Login
    |     
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='vendor/daterangepicker/daterangepicker.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='css/util.css')
    |     
    link(rel='stylesheet', type='text/css', href='css/main.css')
    // ===============================================================================================
  |   
  body
    h1.specific
      | Welcome #{user.username}
    |     
    a.btn.btn-primary.specific1(href='/logout') Logout
    |     
    table.table
      tbody
        tr
          th(scope='col') Song Title
          |         
          td Stairway to Heaven
          |         
          td Heathens
          |         
          td Smells Like Teen Spirit
        |       
        tr
          th(scope='col') Artist Name
          |         
          td Led Zeppelin
          |         
          td Nirvana
          |         
          td Twenty One Pilots
        |       
        tr
          th(scope='col') Album Name
          |         
          td Led Zeppelin IV
          |         
          td Suicide Squad:The Album
          |         
          td Nevermind
        |       
        tr
          th(scope='col') Genre
          |         
          td Progressive Rock
          |         
          td Rap Rock
          |         
          td Alternative Rock
        |       
        tr
          th(scope='col') Release Date
          |         
          td 1971
          |         
          td 2016
          |         
          td 1991
        |       
        tr
          th(scope='col') Action
          |         
          td
            button.btn.btn-primary(type='button') Add Comment
          |         
          td
            button.btn.btn-primary(type='button') Add Comment
          |         
          td
            button.btn.btn-primary(type='button') Add Comment
    |     
    #dropDownSelect1
    // ===============================================================================================
    script(src='vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='vendor/bootstrap/js/popper.js')
    |     
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='vendor/daterangepicker/moment.min.js')
    |     
    script(src='vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='js/main.js')
